@page


<html>
  <head>
    <title>California Speed</title>
    <script src="~/js/pixi.min.js"></script>
    <script src="~/js/game.js"></script>
    <link rel="stylesheet" href="~/css/style.css"/>
  </head>
  <body>
    <canvas id="gamescreen"/>
  </body>
</html>