@page
<html>
<head>
  <title>California Speed</title>
  <script src="~/lib/signalr/dist/browser/signalr.js"></script>
  <script src="~/lib/pixi.js/pixi.js"></script>
  <script src="~/js/calispeed.js"></script>
  <link rel="stylesheet" href="~/css/style.css" />
</head>
  <body>
    <div id="chatbox">

    </div>
  </body>
</html>